  /*seccion  de inicio*/

  .inicio {
      padding-top: 90px;
      min-height: 700px;
      background-color: #dadada;
  }

  .inicio .logo-isic {
      min-width: 120px;
      max-width: 170px;
  }

  .inicio h2 {
    padding-bottom: 20px;
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #555555;
  }
  .inicio .container .titulo h6 {
    color: #505050;
    font-size: 1.3em;
}

  .inicio .container .titulo {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    vertical-align: middle;
  }

  .inicio .resume-item {
      background-color: #ffffff;
      text-align: center;
      padding: 30px;
      border: 1px solid #cfcfcf;
      border-radius: 7px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .inicio .resume-item button {
      border-radius: 50px !important;
  }

  .inicio .resume-item button:focus {
      outline: none;
  }

  .inicio .resume-item h3 {
      color: #2f90ff;
      font-size: 30px;
      font-weight: 800;
  }

  .inicio .resume-item *:last-child {
      margin-bottom: 0;
  }

  .inicio .resume-item img {
      min-width: 100px;
      max-width: 100px;
      border-radius: 10px;
  }

  .inicio .icono {
      height: 200px;
      padding-bottom: 20px;
  }

  .inicio .logo-w {
      height: 50px;
      padding-bottom: 10px;
  }

  .inicio .resume-item a {
      color: #5e5e5e !important;
  }
  .inicio .resume-item a:hover{
      text-decoration: none;
      color: #858585;
  }
  .inicio .resume-item p {
      color: #5e5e5e;
  }

  .inicio table td {
      padding-right: 10px;
      text-align: left;
      color: #494949;
      font-size: 14px;
  }

  .inicio .fila {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
  }

  .inicio .fila .colum {
      padding: 5px 5px;
      flex: auto;
  }

  /*fin seccion 'inicio'*/