
.asesorias .site-section {
    height: 100%;
    padding-bottom: 5em;
}

 .asesorias .section-heading { 
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

 .asesorias .texto .section-heading h2 {
    padding-top: 100px;
    position: relative;
    font-weight: 200;
    font-size: 30px;
}

 .asesorias .texto .section-heading h2 strong {
    font-weight: 800;
}

 .asesorias .resume-item {
    text-align: left;
    padding: 30px;
    background-color: #ffffff;
    border: 4px solid transparent;
    border-radius: 7px;
}

 .asesorias .texto .resume-item h3 {
    color: #555555;
    font-size: 20px;
}

 .asesorias .resume-item *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 360px) {
    .asesorias .resume-item {
        padding: 10px !important;   
    }
    .asesorias .resume-item table{
        font-size: 10px !important;
    }
}