.asociaciones {
    background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
@keyframes cambiar {
    0% {
        margin-top: 700px;
    }
    100% {
        margin-top: 0;
    }
}

.asociaciones .site-section {
    padding-bottom: 5em;
}

.asociaciones .section-heading {
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

.asociaciones .texto .section-heading h2 {
    position: relative;
    font-weight: 200;
    font-size: 30px;
    color: #818181;
}

.asociaciones .texto .section-heading h2 strong {
    font-weight: 800;
}

.asociaciones .texto .section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.asociaciones .resume-item {
    text-align: center;
    padding: 20px;
    border: 4px solid transparent;
    border-radius: 7px;
    animation: cambiar 2s none;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.asociaciones .icono {
    height: 230px;
    padding-bottom: 20px;
    animation: cambiar 2s none;
}

.asociaciones .resume-item:hover {
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.asociaciones .resume-item button {
    border-radius: 50px !important;
    animation: cambiar 2s none;
}

.asociaciones .resume-item button:focus {
    outline: none;
}

.asociaciones .resume-item a:hover {
    text-decoration: none;
    color: #5a5858 !important;
}

.asociaciones .resume-item .school {
    display: block;
    font-size: 16px;
}

.asociaciones .texto .resume-item h3 {
    color: #f1f1f1;
    font-size: 20px;
    animation: cambiar 2s none;
}

.asociaciones .resume-item *:last-child {
    margin-bottom: 0;
}

.asociaciones .logo-w {
    height: 40px;
    padding-bottom: 10px;
    animation: cambiar 2s none;
}

.asociaciones .resume-item a {
    color: #585858 !important;
    text-decoration: none;
}

.asociaciones .nokia {
    background-color: #3b78bd;
}

.asociaciones .cisco {
    background-color: #41a8ec;
}

.asociaciones .oracle {
    background-color: #c92f2f;
}

@media screen and (min-width: 360px) {}