ul.tabs li a .tab-text {
    margin-left: 5px;
}

.secciones {
    width: 100%;
    background: #fff;
}

.secciones article {
    padding: 0px;
}

.secciones article p {
    text-align: justify;
}


@media screen and (max-width: 450px) {
    .dropdown-content a {
        margin-left: 10px;
    }
    .navbar button {
        border: none;
    }
    .secciones article {
        padding: 0px;
    }
    .navbar #collapsibleNavbar {
        padding: 0 8px;
        background-color: #fff !important;
        border-radius: 5px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    }
}

/*Inicio Indicador de Carga Web

#contenedor-carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 10px solid #ccc;
    border-top-color: #266ef4;
    border-top-style: groove;
    height: 50px;
    width: 50px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

Fin Indicador de Carga Web*/