*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.topmargin-xs {
    margin-top: 70px !important;
}

.topmargin-sm {
    margin-top: 140px !important;
}

.topmargin-lg {
    margin-top: 210px !important;
}

/*Inicio menú superior*/

.navbar li .btn {
    border-radius: 50px;
    font-size: 14px;
    padding: 7px 13px;
    min-width: 80px;
    margin-left: 20px;
}

.dark {
    background: #fff;
}

.navbar {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    transition: all 1s ease;
    min-width: 100px;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-item li {
    margin-right: 70px;
}

.nav-item a {
    position: relative;
    display: block;
}

.nav-item a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #7dbdcd, #43aada, #85ebd5);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    
}

.nav-item a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.nav-link {
    color: #ABB2B9;
    font-size: 1.0em;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

.nav-link:hover {
    color: #38A5B4;
}

.nav-link:focus {
    outline: none;
}

.logo-itsoeh {
    min-width: 180px;
    max-width: 200px;
}

.logo-itsoeh-sup {
    min-width: 180px;
    max-width: 200px;
}

.navbar-toggler {
    font-size: 40px;
    color: #ABB2B9;
}

.navbar-toggler:focus {
    outline: none
}

.inicio #home {
    padding-top: 90px;
    min-height: 700px;
    align-items: center;
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url(../img/itsoeh.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    color: #fff !important;
}

.inicio .logo-isic {
    min-width: 120px;
    max-width: 170px;
}

.inicio .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.inicio .content-center h6 {
    color: #fff;
    padding-top: 10px;
    letter-spacing: 2px;
}

.inicio .content-center h5 {
    color: #fff;
    letter-spacing: 2px;
}

.inicio #home .btn-inicio {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 50px;
    display: inline-block;
}

.inicio #home .btn-inicio i {
    font-size: 14px;
    margin-right: 5px;
}

.inicio .content-center {
    margin-top: 15%;
    transform: translateY(-15%);
    text-align: center;
}

.inicio .content-center p {
    font-size: 2em;
    letter-spacing: 2px;
}

.inicio .content-center h1 {
    font-size: 2.0em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.inicio #home section {
    padding: 50px 0;
}

.inicio #home .contenedor {
    /*display: flex;
    position: absolute;*/
    
    width: 100%;
    height: 300px;
    

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    overflow: hidden;
}

.inicio #home .contenedor ul{
    list-style: none;
    padding-left: 0px;
    animation: cambiar 3s none;
    
}
.inicio #home .contenedor ul, p{
    margin: 0;
}
@keyframes cambiar {
    0%{margin-top: 300px;}
    100%{margin-top: 0;}
}

/*Inicio animcación*/

.conocenos {
    height: 100%;
    margin: 0;
}

.conocenos h2 {
    color: #555555 !important;
    letter-spacing: 2px;
}

.conocenos .info-carrera {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5rem;
    font-size: 16px;
}

.conocenos .info-carrera .heading {
    color: #5c5c5c;
    /*text-transform: uppercase;*/
}

/*Fin animcación*/

.texto p {
    color: #8a8a8a;
}

.texto h2 {
    font-size: 25px;
    letter-spacing: 2px;
}


.resumen {
    background: linear-gradient(to top, #106ce4 0%, #00ddd2 100%);
}

.resumen .site-section {
    padding-bottom: 5em;
}

.resumen .section-heading {
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

.texto .section-heading h2 {
    position: relative;
    font-weight: 200;
    font-size: 30px;
    color: #f3f3f3;
}

.texto .section-heading h2 strong {
    font-weight: 800;
}

.texto .section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.resumen .wave {
    width: 100%;
    height: 100px;
}

.resumen .resume-item {
    text-align: center;
    padding: 30px;
    background-color: #f1f1f1;
    border: 4px solid transparent;
    border-radius: 7px;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.resumen .icono {
    height: 100px;
    padding-bottom: 20px;
}

.resumen .resume-item:hover {
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
} 

.resumen .resume-item button {
    margin-top: 10px;
    border-radius: 50px !important;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
.resumen .resume-item button:hover {
    color: #ffffff !important;
}

.resumen .resume-item button:focus {
    outline: none;
}

.resumen .resume-item a:hover{
    text-decoration: none;
    color: #ffffff !important;
}

.resumen .resume-item .school {
    display: block;
    font-size: 16px;
}

.texto .resume-item h3 {
    color: #555555;
    font-size: 20px;
}

.resumen .resume-item .school {
    /*color: rgba(255, 255, 255, 0.3);*/
    color: #212F3C;
}

.resumen .resume-item *:last-child {
    margin-bottom: 0;
}

/*Inicio Sub-Menu*/

.dropdown-local {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 180px;
    background: rgba(255, 255, 255, 0.970);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #8a8a8a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px !important;
}

.dropdown-content a:hover {
    color: #000000;
}

.dropdown-local:hover .dropdown-content {
    display: block;
}

/*Fin Sub-Menu*/

/*Inicio Media Query*/

@media (max-width: 360px) {
    .inicio h1 {
        font-size: 30px;
        line-height: normal;
    }
    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}

/*Fin Media Query*/

/*Inicio Footer*/

section.bg-dark {
    background-color: #313131 !important;
}

#footer {
    padding: 80px 0;
    text-align: center;
    color: #A4A4A4;
}

#footer a {
    color: #A4A4A4;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

#footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

#footer small {
    color: #6E6E6E;
}

/*Fin Footer*/

html {
    scroll-behavior: smooth;
}

/*Inicio boton hamburguesa*/

#hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
}

#hamburger button span {
    border-radius: 5px;
    background: #ABB2B9;
    display: block;
    width: 60%;
    margin: 6px auto;
    height: 1px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
    animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}

#hamburger button.open .bottom-line {
    animation-name: bottom-line-animation;
}

#hamburger button .top-line {
    animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}

#hamburger button .bottom-line {
    animation-name: bottom-line-animation-close;
}

/*Abriendo*/

@keyframes top-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}

@keyframes bottom-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(45deg);
    }
}

@keyframes middle-line-animation {
    20%, 100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

/*Cerrando*/

@keyframes top-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}

@keyframes bottom-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(2px) rotate(45deg);
    }
    50%, 100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

/*Fin boton hamburguesa*/

[class^="bi"], [class*=" bi"] {
    display: inline-block;
    vertical-align: 0.15em;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}