.modulo-cisco {
    background-image: linear-gradient(to left, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)), url(../img/asociaciones/network.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0px;
}

.modulo-cisco .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
}

/* Texto Inicial */

.modulo-cisco .texto {
    padding: 100px 0;
    font-weight: 400;
    height: auto;
}

.modulo-cisco .texto h2, .texto p {
    /*background: rgba(0, 0, 0, .8);*/
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}

.modulo-cisco .texto h2 {
    font-size: 40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}

.modulo-cisco .texto p {
    font-size: 20px;
    letter-spacing: 2.5px;
}

/* Principal */

.modulo-cisco  .principal {
    position: relative;
    color: #000;
    padding-bottom: 100px;
}

.modulo-cisco .principal article {
    border-radius: 7px;
    padding: 20px;
}

.modulo-cisco .principal article p {
    margin-bottom: 20px;
    line-height: 24px;
    color: #cfcfcf;
    text-align: center;
}

.modulo-cisco .principal article .fecha {
    color: #939393;
}

.modulo-cisco img{
    max-width: 120px;
    min-width: 100px;
}

.modulo-cisco .section-heading {
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

.modulo-cisco.texto .section-heading h2 {
    position: relative;
    font-weight: 200;
    font-size: 30px;
    color: #fdfdfd;
}
.modulo-cisco .texto .section-heading h2 strong {
    font-weight: 800;
}
.modulo-cisco .texto .section-heading.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.modulo-cisco .principal .resume-item {
    text-align: center;
    padding: 10px;
    background-color: #252222;
    border-radius: 9px;
}
.modulo-cisco .principal .resume-item h1{
    font-size: 2.0em;
    font-weight: 700;
    color: #00d4f0;
    letter-spacing: 2px;
}
.modulo-cisco .principal .resume-item h3 {
    color: #c7c7c7;
    font-size: 25px;
}
.modulo-cisco .principal .resume-item p {
    font-size: 16px;
    text-align: center;
}

.modulo-cisco .resume-item *:last-child {
    margin-bottom: 20px;
}